
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v28-latin-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:url('../fonts/open-sans-v28-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v28-latin-700.woff') format('woff');
  }

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial,sans-serif;
    color: #000000;
    margin-top: 62px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
img{
    display: inline-block;
}

.site-btn{
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background: #00BAFC;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    border: 3px solid transparent;
}
.site-btn:hover {
    opacity: 0.8;
}

.site-btn:active {
    opacity: 0.4;
}

/* SITENAV-HEADER  */

.site-header{
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.site-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header-logo:hover {
    opacity: 0.8;
}
.site-header-logo:active {
    opacity: 0.4;
}
.sitenav{
    display: flex;
    align-items: center;
}
.sitenav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 8px;
}
.sitenav-item{

}
.sitenav-link{
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.sitenav-link:hover{
    border-bottom: 3px solid #191919;
}
.sitenav-link:active{
    background: rgba(25, 25, 25, 0.7);
    color: white;
    border-bottom: 3px solid transparent;
}
.sitenav-tel-btn:hover {
    border: 3px solid #00BAFC;
    background: white;
    color: #00BAFC;
}

.sitenav-tel-btn:active {
    background: rgba(0, 186, 252, 0.6);
    border: 3px solid transparent;
    color: white;
}

/* MAIN  */
.hero {
    padding-top: 80px;
    padding-bottom: 80px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left{
    max-width: 470px;
}
.hero-heading{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 16px;
}
.hero-desc{
    margin: 0;
    line-height: 24px;
    margin-bottom: 16px;
}
.hero-iframe{
    border: none;
    border-radius: 5px;
}

/* SERVICES */

.services {
    padding-top: 56px;
    padding-bottom: 56px;
  }
.services-top{
    margin: 0 auto;
    max-width: 719px;
    margin-bottom: 16px;
}
.services-heading{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;

}
.services-desc{
    margin: 16px 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}


.services-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin: -35px;
}
.services-item{
    margin: 35px;
}
.services-link{
    display: inline-block;
    padding: 24px 58px;
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.services-item-heading {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 16px;
  }
  .services-item-desc {
    margin: 0;
    line-height: 24px;
    text-align: center;
  }

.services-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.services-btn{
    margin-left: 16px;
    text-decoration-line: underline;
    color: #00BAFC;
}
.work{
    margin-bottom: 16px;
}
.work-container{
    max-width: 832px;
}

.work-top{
    max-width: 719px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.work-list{
    list-style: none;
    flex-direction: column;
}

.work-item{
    display: flex;
    align-items: center;
}
.work-item + .work-item{
    margin-top: 48px;
}
.work-item:nth-child(even){
    flex-direction: row-reverse;
}
.work-item:nth-child(even) img{
    margin-left: 32px;
}
.work-item:nth-child(odd) img {
    margin-right: 32px;
}
.work-link{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}



.order{
    background-color: #00BAFC;
}
.order-container{
    padding-top: 56px;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.order-top{
    max-width: 719px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.order-heading{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.order-desc{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.order-bottom{
    padding: 24px;
    background-color: white;
    max-width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.form{
    display: flex;
    flex-direction: column;
}
.input-name{
    width: 300px;
    height: 56px;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    padding:16px ;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding-left: 12px;
    margin-bottom: 16px;
}


/* FOOTER  */
.footer{
    display: flex;
    background-color: #191919;
    padding-top: 56px;
    padding-bottom: 56px;
}
.footer-left{
    max-width: 320px;
    margin-left:100px;
    margin-right: 100px;
}
.footer-header{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-desc{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.footer-center{
    margin-right: 87px;
}
.footer-list{
    margin-top: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-item + .footer-item{
    margin-top: 8px;
}
.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    color: #00BAFC;

}
.footer-link:active{
    color: #00BAFC;
    opacity: 0.6;
}
.footer-right-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-right-item{
    align-items: center;
}
.footer-right-item + .footer-right-item{
    margin-top: 8px;
}
.footer-right-link{
    display: flex;
    text-decoration: none;
    color: white;
}
.footer-right-link:hover{
    color: #00BAFC;
}
.footer-right-link:active{
    color: #00BAFC;
    opacity: 0.6;
}
.footer-right-link::before{
    content: "";
    width: 22px;
    height: 24px;
    background-image: url(../images/telegram-img.png);
}
.facebook::before{
    content: "";
    width: 22px;
    height: 24px;
    background-image:url(../images/facebook-img.png);
}
.instagram::before{
    content: "";
    width: 22px;
    height: 24px;
    background-image:url(../images/instagram-img.png);
}
.footer-link-desc{
    margin: 0;
    padding: 0;
    margin-left: 8px;
}